.container {
  width: 100%;
}

#canvas {
  display: block;
  margin: 0 auto;
  background-color: black;
  border: 2.5px solid red;
}

.header {
  text-align: center;
}

.mode {
  text-align: center;
}